/* Style */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

#vt_timetable_wrapper {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    .vt_timetable {
        width: 100%;

        table {
            width: 100%;

            border-collapse: collapse;
        }

        td {
            height: 40px;

            &:nth-child(n+0) {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

            &:nth-child(1) {
                width: 40px;

                font-weight: 500;

                color: #fff;
            }

            &:nth-child(2) {
                width: auto;

                font-weight: 500;

                padding-left: 10px;

                text-align: left;
            }

            &:nth-child(3) {
                width: 20px;

                font-weight: 700;
            }

            &:nth-child(4) {
                width: 30px;

                font-weight: 300;

                padding-left: 15px;
                padding-right: 15px;
            }

            &:nth-child(5) {
                width: 30px;
            }
        }

        &_title {
            margin-top: 15px;
            margin-bottom: 5px;

            font-size: 18px;
            font-weight: 700;
        }

        &_underline {
            margin-top: -3px; 

            font-size: 12px;
            font-weight: 300;
        }

        .type {
            background-color: #000;
        }
        
        .tram { 
            -webkit-mask: url(../images/tram.svg) no-repeat;
            mask: url(../images/tram.svg) no-repeat;

            -webkit-mask-position: center;
            mask-position: center;

            -webkit-mask-size: 23px;
            mask-size: 23px;
        }

        .bus, .taxi { 
            -webkit-mask: url(../images/bus.svg) no-repeat;
            mask: url(../images/bus.svg) no-repeat;

            -webkit-mask-position: center;
            mask-position: center;

            -webkit-mask-size: 20px;
            mask-size: 20px;
        }

        .no-results {
            height: 100px;
            width: 100%;
            
            margin-top: 30px;

            display: flex;
            align-items: center;
            justify-content: center;      
        }
    }

    @media only screen and (max-width: 750px) {
        .vt_timetable {
            td {
                &:nth-child(3) {
                    padding-right: 10px;
                }

                &:nth-child(4) {
                    display: none;
                }
            }
        }    
    }
}